<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CrossversiteEntities" connectionString="metadata=res://*/CrossversiteDB.csdl|res://*/CrossversiteDB.ssdl|res://*/CrossversiteDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Crossversite;persist security info=True;user id=sa;password=abc123SSI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>